track-a-custom-business-event_1.3.3_mavenized/target/classes/custom-business-events.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"  xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
   <!--  <mongo:config database="${database.name}" doc:name="Mongo DB" name="Mongo_DB" password="${database.password}" username="${database.user}">
        <mongo:connection-pooling-profile exhaustedAction="WHEN_EXHAUSTED_GROW" initialisationPolicy="INITIALISE_ONE"/>
    </mongo:config> -->
    
    <http:listener-config doc:name="HTTP Listener Configuration" host="0.0.0.0" name="HTTP_Listener_Configuration" port="8081"/>
    <flow name="custom-business-eventsFlow1" tracking:enable-default-events="true">
        <http:listener config-ref="HTTP_Listener_Configuration" doc:name="Recieve HTTP requests" path="customBusinessEvents"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="Convert JSON to HashMap" tracking:enable-default-events="true"/>
        <tracking:custom-event doc:name="Track Custom Data" event-name="Price"> 
          <tracking:meta-data key="item name" value="#[groovy:payload.&quot;item name&quot;]"/>
          <tracking:meta-data key="item units" value="#[groovy:payload.&quot;item units&quot;]"/>
          <tracking:meta-data key="item price per unit" value="#[groovy:payload.&quot;item price per unit&quot;]"/>
        </tracking:custom-event>
        <scripting:transformer doc:name="Calculate Discount">
            <scripting:script engine="jruby"><![CDATA[case $payload['item name']
	when "shoes" 
	$discount = 0.15
	when "jeans" 
	$discount = 0.2
	when "jackets" 
	$discount = 0.3
end
$payload['item price per unit'] = $payload['item price per unit'] * (1 - $discount)]]></scripting:script>
        </scripting:transformer>
        <tracking:custom-event event-name="discount" doc:name="Track Discount Applied">
            <tracking:meta-data key="discount applied" value="#[groovy:payload.&quot;item price per unit&quot;]"/>
        </tracking:custom-event>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
          <!--  <mongo:create-collection collection="customers" config-ref="Mongo_DB" doc:name="Create collection"/> -->
             <object-to-string-transformer doc:name="Convert Discount to String"/>
        <tracking:custom-event event-name="Result" doc:name="Check for Exceptions">
            <tracking:meta-data key="Result" value="#[(exception != null)?(exception.message):(&quot;Completed&quot;)]"/>
        </tracking:custom-event>
        <tracking:transaction id="custom-business-event-example-transaction"/>        
    </flow>
</mule>